
html{ /* etiqueta */
    font-family: Arial, Helvetica;
}

button{
    font-family: Arial, Helvetica;
    display: block;
    margin-top: 10px;
    border: none;
    background-color: #023047;
    color: white;
    padding: 15px;
    font-size: 13px;
}

.fila{
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-input{
    font-family: Arial, Helvetica;
    font-size: 14px;
    background-color: #f0f0ff !important;
    border-style: solid;
}

@media screen and (min-width: 700px){
    .botones{
        width: 100%;
    }
}

.botones{
    width: 20%;
}
