
html{ /* etiqueta */
    font-family: Arial, Helvetica;
}

button{
    font-family: Arial, Helvetica;
    display: block;
    margin-top: 10px;
    border: none;
    background-color: #023047;
    color: white;
    padding: 15px;
    font-size: 13px;
}

.contenedor{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: #8ecae6;
    padding: 15px;
}

input{
    font-family: Arial, Helvetica;
    font-size: 14px;
}
.clase1{
    /* Aplicamos estilo para una clase */
}

#campoTexto{
    /* Aplicamos estilo para un id */
}
